<div class="shadow-lg">
    <h1 class="mx-3 text-center">Fruit Store</h1>
    <div class="d-flex flex-row align-items-center justify-content-between p-3">
        <div class="d-flex flex-row align-items-center justify-content-between">
            <i class="bi bi-envelope" style="font-size: 2rem; color: cornflowerblue;"></i>
            <p style="width: 50px;"></p>
            <p class="m-0">Email: </p>
        </div>
        
        <p style="width: 50px;"></p>
        <p class="m-0">contact@fruitstore.com</p>
    </div>
    <div class="d-flex flex-row align-items-center justify-content-between p-3">
        <div class="d-flex flex-row align-items-center justify-content-between">
            <i class="bi bi-instagram" style="font-size: 2rem; color: cornflowerblue;"></i>
            <p style="width: 50px;"></p>
            <p class="m-0">Instagram: </p>
        </div>
        
        <p style="width: 50px;"></p>
        <p class="m-0">@fruitstore</p>
    </div>

</div>
